/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5f7fb;
    color:#222;
}

/* NAVBAR */

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 8%;

    background:#0f172a;
    color:white;

    position:sticky;
    top:0;

    z-index:1000;
}

.logo{

    font-size:1.8rem;
    font-weight:700;
    background: linear-gradient(90deg, #00E676, #00E5FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing:1px;
}
.nav-links{

    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{

    text-decoration:none;
    color:white;

    font-weight:500;

    transition:0.3s;
}

.nav-links a:hover{

    color:#38bdf8;
}

.active{

    color:#38bdf8 !important;
}

/* HERO SECTION */

.hero{

    min-height:90vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:50px 8%;

    background:linear-gradient(135deg,#0f172a,#2563eb);
}

.hero-text{

    max-width:800px;
}

.hero h1{

    font-size:3.2rem;

    color:white;

    margin-bottom:25px;
}

.hero p{

    color:#e2e8f0;

    font-size:1.1rem;

    line-height:1.8;

    margin-bottom:35px;
}

/* BUTTONS */

.buttons{

    display:flex;
    justify-content:center;
    gap:20px;

    flex-wrap:wrap;
}

.btn{

    text-decoration:none;

    background:white;

    color:#2563eb;

    padding:15px 32px;

    border-radius:10px;

    font-weight:600;

    transition:0.3s;
}

.btn:hover{

    transform:translateY(-5px);

    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.secondary{

    background:#38bdf8;

    color:white;
}

.secondary:hover{

    background:#0ea5e9;
}

/* FEATURES */

.features{

    width:90%;
    margin:70px auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;
}

.card{

    background:white;

    border-radius:18px;

    padding:35px;

    text-align:center;

    transition:.3s;

    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.card h2{

    margin-bottom:15px;

    color:#2563eb;
}

.card p{

    color:#555;

    line-height:1.7;
}

/* FOOTER */

footer{

    background:#0f172a;

    color:white;

    text-align:center;

    padding:25px;
}

/* RESPONSIVE DESIGN */

@media(max-width:900px){

    .navbar{

        flex-direction:column;

        gap:20px;
    }

    .nav-links{

        flex-wrap:wrap;

        justify-content:center;

        gap:18px;
    }

    .hero h1{

        font-size:2.4rem;
    }

}

@media(max-width:600px){

    .hero{

        min-height:75vh;
    }

    .hero h1{

        font-size:2rem;
    }

    .hero p{

        font-size:1rem;
    }

    .btn{

        width:100%;

        max-width:280px;
    }

}
